.container{
  display:block;
}
html, body, main{
  font-family:monospace
}
header{
  text-align: center;
}
.grid-container {
  display: grid;
  justify-content: center;
  padding:100px;
  vertical-align: center;
}
table{
  background-color: #d7d7e2;
  padding: 50px;
  border-radius: 5%;
}
th {
  height:75px;
  width:100%;
}
td {

}

.clear-card, .card {
  color: #000;
  background-color: #b7b2b2;
  text-align: center;
  vertical-align: middle;
  padding:25px;
  cursor:pointer;
  border: 4px solid #001;
  border-radius: 5%;
  font-weight:900;
  font-size:3rem;

}
#clear {
  background-color: #aa0505;
}
#add, #subtract, #divide, #multiple{
  background-color: #6d6c6c;
  color:#000;
}
#display{
  background-color:#000;
  color: #fff;
}

#equals{
  background-color: #3232ff;
  color:#fff;
}


footer{
  text-align: center;
}
